body {
  color: black;
  background-color: white;
}

.messages {
  height: 90vh;
  overflow-y: scroll; 
}

.channels {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}
